.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    /* border-top: 1px solid gainsboro; */
    border-bottom: 1px solid gainsboro;
    padding: 0px 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); 
  }
  
  .feature {
    display: flex;
    align-items: center;
    padding: 0% 2% 1%;
    max-width: 350px;
  }
  
  .feature img {
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
    color: #E7B319;
    /* background-color: yellow; */
  }
  
  .text-container {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .text-container >span:first-child{
    font-size: 16px;
    font-weight: bold;
    font-family: math;
  }
  .feature:not(:last-child) {
    border-right: 1px solid #ccc; 
  }
  span#feature-subtext {
    font-size: 15px;
    color: #999;
}
  @media (max-width:800px){
    .feature{
        flex-direction: column;
    }
    .text-container > #feature-subtext{
        display: none;
    }
    .text-container{
        text-align: center;
    }
  }
  /* #E7B319 */