/* Product Reviews */
.product-reviews {
    margin: 10px 150px;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  div#reviews-heading {
    margin: 20px 0px;
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    color: #000000;
    position: relative;
    text-transform: capitalize;
    display: block;
    text-align: center;
  }
  .user-reviews, .user-review {
    display: flex;
    flex-direction: column;
  }
  .user-review>span {
    display: flex;
    margin-bottom: 5px;
  }
  span.uRating {
    margin-left: 15px;
    margin-top: 5px;
  }
  span.UReview {
    color: #999999;
  }
  .customer-review >#customer-form {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .write-review {
    font-family: inherit;
    font-weight: 600;
    color: #000000;
    text-transform: capitalize;
  }
  .customer-review >#customer-form>div {
    display: flex;
    flex-direction: column;
  }
  #label-name,#label-review{
    font-weight: 600;
    color: #999999 ;
    margin: 0px 0px 7px 7px;
  }
  #customer-input {
    display: block;
    width: 95%;
    padding: 9px 12px;
    font-size: 13px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    outline: none;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  #customer-input:focus {
    border-color: chartreuse;
  }
  #customer-review-submit {
    width: 100px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #ffffff;
    background-color: dodgerblue;
    padding: 8px 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: 0;
  }
  
  .notification {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 10px;
    opacity: 1;
    z-index: 1999;
    transition: opacity 1s ease-in-out;
  }
  
  