.store-user-comments {
    margin: 60px 0px;
}
.store-comments{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}
.user-comments-content{
        display: flex;
        width: 95%;
        height: 100%;
        /* overflow: hidden; */
        animation: scrollAnimationDefault 15s linear infinite;
}
.store-comments-heading {
    text-align: center;
    font-weight: bold;
    font-family: fangsong;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.user-comments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 35%;
    border-right: 1px solid yellowgreen;
    padding: 10px 20px;
    margin: 10px 0px;
}
.comment{
    float: left;
    color:#999;
}
.author{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    color: darkgreen;
    margin-left: auto;
    font-family: inherit;
}
.author::before {
    content: "-";
}
@keyframes scrollAnimationDefault {
    0% {
      transform: translate3d(20%, 0, 0);
    }
    100% {
      transform: translate3d(-180%, 0, 0);
    }
  }
  @keyframes scrollAnimationMedium {
    0% {
      transform: translate3d(20%, 0, 0);
    }
    100% {
      transform: translate3d(-280%, 0, 0);
    }
  }
  @keyframes scrollAnimationLeast {
    0% {
      transform: translate3d(20%, 0, 0);
    }
    100% {
      transform: translate3d(-540%, 0, 0);
    }
  }
  @media (max-width:950px){
    .user-comments{
        min-width: 50%;
        }
        .user-comments-content{
         animation: scrollAnimationMedium 15s linear infinite;
        }
  }
  @media (max-width:550px){
    .user-comments{
    min-width: 90%;
    }
    .user-comments-content{
     animation: scrollAnimationLeast 18s linear infinite;
    }
  }
