*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import "./components/styles/mainPage.css";
@import "./components/styles/header.css";
@import "./components/styles/authentication.css";
@import "./components/styles/store_comments.css";
@import "./components/styles/productIdCategory.css";
@import "./components/styles/footer.css";
@import "./components/styles/filter_Cart.css";
@import "./components/styles/productReviews.css";
@import "./components/styles/starRating.css";
@import "./components/styles/features.css";
@import "./components/styles/productDisplay.css";
@import "./components/styles/pages.css";